h1 {
  margin-top: 15px;
  margin-left: 5px;
  text-shadow: 1px 0.5px grey;
 font-size: 50px;
  font-weight: 100;
}
h3 {
  text-decoration: underline;
  margin-left: 40px;
}


ul{
  list-style: none;
  top: 150px;
}

.entirePage {
  max-width: 38%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  border: 1px solid black;
 font-family: 'Quicksand', sans-serif;
 background-image: url(../image/background\ image.jpg);
 background-repeat: no-repeat;
background-size: cover;

}
.date {
  font-size: 30px;
  margin-left: 30px;
  font-style: oblique;
}

.temperature {
  font-style: italics;
  font-size: 65px;
 
  margin-right: 50px;
  margin-bottom: 0;
}
.col-2 {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}
.middleborder{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 25px 25px 25px 25px;
  box-shadow: 5px 0 5px;
    background-color: rgb(205, 205, 205,0.2);
}

.weather-forecast {
  border: 1px solid black;
  padding: 15px 40PX ;
  border-radius: 12%;
  box-shadow: 2px 2px;
   background-color: rgb(205, 205, 205,0.2);
}
.forecast-temperature-min{
  color: rgb(66, 205, 255);
}
.description {
  font-size: 20px;
  
}
.degrees{
    font-size: 30px;
    
}
.degrees .active{
  color: rgb(255, 255, 255);
  cursor: default;
}
.degrees .active:hover{
text-decoration: none;
}
.humidity,.windSpeed,.description{
  font-size: 25px;
  margin: 0;
}